{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="col-md-12 text-center my-3">
        <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center flex-wrap py-3">
            <a href="{{ path('task_create') }}" class="nav-link btn btn-success m-1">Créer une tâche</a>
            <a href="{{ path('task_list') }}" class="nav-link btn btn-primary m-1">Liste des tâches</a>
            <a href="{{path('task_list', {'are-done' : 'false'})}}" class="nav-link btn btn-info m-1">Liste des tâches à faire</a>
            <a href="{{path('task_list', {'are-done' : 'true'})}}" class="nav-link btn btn-secondary m-1">Liste des tâches terminées</a>
        </div>
    </div>
{% endblock %}
